{% extends 'base.html' %}
{% block title %}北航跳蚤市场主页{% endblock %}
{% block css %}<link href="../static/css/index.css" rel="stylesheet">{% endblock %}
{% block body %}

<div class="row clearfix">
    <div class="col-md-8 column">
        {% for goods in goods_all %}
        
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                <div class="center-cropped">
                        <img src="{{ goods.picture.url }}" class="img-responsive">
                </div>
                <div class="caption">
                        <h3>{{ goods.name }}</h3>
                        <p>{{ goods.description }}</p>
                        <p><a href="../goods/{{goods.id}}" class="btn btn-primary" role="button">查看详情</a></p>
                </div>
            </div>
        
        </div>


        {% endfor %}
        
    {% comment %} <ul class="pagination">
        <li>
                <a href="#">Prev</a>
        </li>
        <li>
                <a href="#">1</a>
        </li>
        <li>
                <a href="#">2</a>
        </li>
        <li>
                <a href="#">3</a>
        </li>
        <li>
                <a href="#">4</a>
        </li>
        <li>
                <a href="#">5</a>
        </li>
        <li>
                <a href="#">Next</a>
        </li>
    </ul> {% endcomment %}
    </div>


    <div class="col-md-4 column">
        <div class="continer">
            <h3>🌟市场公告栏🌟</h3>
        </div>
        <big><p class="bg-success">❤️❤️❤️<br>欢迎同学们访问北航跳蚤市场网站！</p></big>
    </div>


</div>



{% endblock %}